/******************************************************************/

.widget_bamboo_tweets h2 {
	padding: 0 0 5px 0;
}

.widget_bamboo_tweets i.fa-twitter {
	float: left;
	width: 10%;
	font-size: 1.5em;
	color: #888888;
}

.widget_bamboo_tweets .tweet {
	float: left;
	margin: 0 0 5px 0;
	width: 90%;
	color: #444444;
}

.widget_bamboo_tweets .tweet-date {
	float: left;
	margin: 0 0 20px 10%;
	width: 90%;
	font-size: 0.9em;
	color: #444444;
}

.widget_bamboo_tweets .tweets-footer {
	padding: 3px 0;
	text-align: center;
}

/******************************************************************/
